.btn {
    padding: 10px 5px;
    width: 50%;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.container {
    padding: 2px 2px;
}

section {
    padding: 0.75rem;
}

/* //Navbar */

.navbar {
    background-image: linear-gradient(to right, #3d0b37, #46123c, #501841, #591f45, #63264a);
    opacity: 0.85;    
    border-bottom: 3px var(--green-primary) solid; 
}

.navbar .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navbar .nav-list {
    display: none;
    flex-direction: column;    
    width: 100%;
}

.navbar .nav-list .nav-item {
    width: 90%;
    text-align: center;
    margin: 15px 0;
    padding: 5px;
    border-bottom: 2px solid var(--green-primary);
}

.navbar a{
    color: var(--green-light);
}

.navbar a:hover {
    border: none;
}

.container #hamburger {
    border-color: var(--green-secondary);
    display: flex;
}

.container #hamburger .bar{
    background-color: var(--green-secondary);
}

.mobile-svg {
    display: block;
   
}


/* Hero section */

.hero {
    padding: 1rem;
}

.hero-container {
    flex-direction: column;     
  }



.hero-container h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero-container .hero-text {
    text-align: center;
    width: 100%;
    margin-top: 75px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main #hero .hero-container .svg {
    display: none;
}

#main #hero .mobile-svg {
    width: 60%;
}

.hero {
    height: 50%;

}

.hero-cards {
    display: none;
}

/* About */

#main #about {
    padding-top: 1rem;
}
#main #about .container {
    flex-direction: column;


}

#main #about .container .about{
    width: 100%;
    height: 50%;
    text-align: center;
}

#main #about .container .about video {
    height: 100%;
}

#main #about .container .about p {
    font-size: 0.6rem;
}

/* services */

#services .container {
    justify-content: space-evenly;
}
#services .image-container {
    max-width: 90%;
}

