@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --green-primary: #c0d684;
    --green-secondary: #cbeaa6;
    --green-light: #f3f9d2;
    --accent-primary: #3d0b37;
    --accent-secondary: #63264a;
    

}

body {    
    color: var(--accent-primary);
    background-color: var(--green-light);
    position: relative;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: var(--accent-primary);
}

img {
    width: 100%;
}

li {
    list-style: none;
    
}

h1 {
    font-size: 3.9rem;
    line-height: 4.1rem;
    margin-bottom: 2.5rem;
    
}

h4 {
    font-size: 1.2rem;
    color: var(--accent-secondary);
    margin-bottom: 1.5rem;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 15px 10px;
    width: 75%;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: medium;
}

.btn-prime {   
    background-color: var(--accent-primary);
    color: var(--green-light);
    text-decoration: none;
    
}

.btn-prime:hover {
    background-color: var(--accent-secondary);
    color: white;
    text-decoration: none;
}

section{
    padding: 2rem 1.5rem;
    width: 100vw;
    height: 100vh;
}

.mobile-svg {
    padding: 1rem;
    display: none;
}


p{
    font-size: 0.9rem;
}



.scroller {
    /* width: 100%; */
    max-width: 756px;
    
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
 
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

}  



/* Navbar styling */

.navbar {
    font-weight: bold;
    overflow: hidden;
    background-color: rgba(0,0,0,0);    
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.7s ease-out;  
    z-index: 3;
    padding: 0;

        
}
.navbar .container {    
    display: flex;
    justify-content: space-around;
    position: relative; 
    align-items: center; 

}

.navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  
     
}

.navbar a {
    padding: 10px 15px;
    margin: 0 20px;
}

.navbar a:hover {
    border-bottom: 2px solid var(--accent-primary);   
}


.logo {
    border-radius: 50%;
    width: 55px;
    min-width: 50px;   
}

#hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;  
    margin: 12px;
    border: 2px solid var(--accent-primary);  
}

#hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: var(--accent-primary);
    margin: 3px 0;    
}

.scrolled {
    background-image: linear-gradient(to right, #3d0b37, #46123c, #501841, #591f45, #63264a);
    opacity: 0.85;    
    border-bottom: 3px var(--green-primary) solid; 
}

.scrolled a {
    color: var(--green-light);
}

.scrolled a:hover{
    border-bottom: 2px solid var(--green-secondary);
}



/* Hero section */
#main #hero {
    background: url('./public/images/stacked-steps-haikei.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-container .svg {
    position: absolute;
    align-self: center;
    left: 50%;
    width: 50%;
    z-index: 1;
    opacity: 70%;
    
}
.hero {
    padding: 2rem;
    width: 50%;
}

.hero-text {
    padding: 1rem;
    text-align: left;
}


.hero-cards {    
    align-self: flex-end;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
    "Image1 Image2 Image3"
    "Image1 Image2 Image3";
    /* ". Image2 ."; */
    padding: 1rem;  
    width: 45%;
    min-width: 40%;
    height: 75%; 
    z-index: 2;
  }

  .hero-cards .card {
    
    box-shadow: 0 4px 8px 0 rgba(99, 38, 74, 0.5);
    transition: all 0.3s ease;
    border-radius: 10px;
    height: 50%;
    border: var(--green-primary) 1px solid;
}

.hero-cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(99,38,74,1);    
    transform: scale(1.01);
}
  
#main .hero-container .hero-cards .Image1 { 
    grid-area: Image1;
    background: url('./public/images/img1.jpg') no-repeat center center/cover;    
    align-self: flex-start;
   
 }

 #main .hero-container .hero-cards .Image3 { 
    grid-area: Image3;
    background: url('./public/images/img3.jpg') no-repeat center center/cover;
    align-self: start;
}
  
  
 #main .hero-container .hero-cards .Image2 { 
    grid-area: Image2; 
    background: url('./public/images/img2.jpg') no-repeat center center/cover;  
    justify-self: stretch;
    align-self: center;

}

/* About  */

#main #about {
    background: url('./public/images/about.svg') no-repeat center center/cover;
    padding-top: 5rem;
}

#main #about h1 {
    color: var(--green-primary);
}

#main #about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--green-light);
    
}

#main #about .container .about {
    width: 50%;
    height: 100%;
    padding: 2rem;       
}



#main #about .container .left video {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border: 2px var(--green-primary) solid;
    border-radius: 1rem;
}


#main #about .container .right,.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Services */
#services {
    background: url('./public/images/service.svg') no-repeat center center/cover;    
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
}

#services * {
    border-radius: 1rem;
}
#services .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    
    
   
}
#services .image-container {
    max-width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    border: var(--accent-secondary) 1px solid;
   
}

#services .image-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(99, 38, 74, 0.25);
    z-index: 2;
    border-radius: 1rem;   
    
}


#services button {
    background-color: rgba(99, 38, 74, 0.5);
    z-index: 3;
   
}

#services .mobile-svg img {
    max-width: 20%;

}

/* Brand */


#main #brand {
    background: url('./public/images/brand.svg') no-repeat center center/cover;
    color: var(--green-primary);
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
    margin-top: -40px;
}

#main #brand h1 {
    margin-bottom: 0.5rem;
}

#main #brand .container{
  display: grid;
  padding-top: 5rem;
  /* min-block-size: 50vh; */
  place-content: center;
  gap: 1.5rem;
}


#main #brand .container .scroller__inner {
    background-color: #ccc;
}

#main #brand .container .scroller__inner.second {
    background-color: rgba(0,0,0,0);
}
#main #brand .container .scroller__inner.second .card {
    background-color: rgba(243, 249, 210, 0.65);
}
#main #brand .container img {
    width: 175px;
}

#main #brand .container .card-img {
    width: 5rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: var(--accent-primary) 3px solid;
}

#main #brand .container .second {
    font-size: small;
    font-weight: bold;
}
