@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    
    --teal-primary: #004743;
    --teal-secondary: #006F68;
    --text-dark: black;
    --text-light: #fff;
    --dark-bg: #030027;
    --light-bg: #f2f3d9;
    --color-bg: rgb(193, 110, 112);
    

}

body {    
    color: var(--text-dark);
    background-color: var(--light-bg);
    position: relative;
    overflow-x: hidden;
    /* text-shadow: var(--dark-bg) 3px 3px; */
   
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

img {
    width: 100%;
    object-fit: cover;
    
}

li {
    list-style: none;
    
}

h1 {
    font-size: 3.9rem;
    line-height: 4.1rem;
    margin-bottom: 2.5rem;
    text-shadow: var(--light-bg) 5px 5px;
    color: black;
    font-weight: bold;
       
}

h4 {
    font-size: 1.2rem;
    color: var(--text-dark);
    text-shadow: var(--light-bg) 1px 1px;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
}

.btn {
    border: none;   
    cursor: pointer;
    padding: 15px 10px;
    width: 75%;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: medium;
    text-shadow: none;
}

.btn-prime {   
    background-color: var(--dark-bg);
    color: var(--text-light);
    text-decoration: none;
    border-right: 5px var(--light-bg) solid;
    
}

.btn-prime:hover {
    background: linear-gradient(to right, var(--teal-secondary), var(--light-bg));
    color: var(--text-dark);
    text-decoration: none;
    border-right: 5px var(--dark-bg) solid;
    font-weight: bold;
}

.btn-second {
    background-color: var(--teal-secondary);
    color: var(--text-light);
    border-right: 5px var(--teal-primary) solid;
   
}

.btn-second:hover {
    background: linear-gradient(to right, var(--dark-bg), var(--teal-primary));
    border-right: 5px var(--light-bg) solid;
    color: var(--text-light)
}

section{
    padding: 2rem 1.5rem;
    width: 100vw;
    min-height: 100vh;
    transition: all 0.5s ease;
}

.mobile-svg {
    padding: 1rem;
    display: none;
}


p{
    font-size: 1rem;
    text-align: justify;
}



.scroller {
    /* width: 100%; */
    max-width: 910px;
    text-shadow: none;
    
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
 
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

}  



/* Navbar styling */

.navbar {
    font-weight: bold;
    overflow: hidden;
    /* background-color: rgba(0,0,0,0);     */
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-out;  
    z-index: 3;
    padding: 0;
    


        
}
.navbar .container {    
    display: flex;
    justify-content: space-around;
    position: relative; 
    align-items: center; 

}

.navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;

  
     
}

.navbar a {
    padding: 10px 15px;
    margin: 0 20px;
    transition: hover 0.1s ease-in;
 

}

.navbar a:hover {
    border-bottom: 2px solid var(--teal-primary);
      
}


.logo {
    border-radius: 50%;
    width: 55px;
    min-width: 50px;   
    border: 2px var(--teal-secondary) solid;
}

#hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;  
    margin: 12px;
    border: 2px solid var(--accent-primary);  
}

#hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: var(--accent-primary);
    margin: 3px 0;    
}

.scrolled {
    background-color: var(--dark-bg);
    background: linear-gradient(45deg, var(--light-bg),var(--dark-bg),var(--teal-primary),var(--teal-secondary));
    opacity: 0.80;    
    border-bottom: 3px var(--light-bg) solid; 
}

.scrolled a {
    color: #fff;
}

.scrolled a:hover{
    border-bottom: 2px solid #ccc;
}



/* Hero section */
#main #hero {
    background: url('./public/images/stacked-steps-haikei.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: var(--dark-bg) 10px solid;
}


.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
 
}





.hero-container .image-container {
    display: flex;
    width: 90%;
    height: 100%;     
}



.hero-text {
    padding: 1rem;
    text-align: left;
    z-index: 1;
}

#hero .carousel-inner {
    /* border: 5px var(--dark-bg) solid; */
       
    display: flex;
    align-items: center;
    height: 100%;
}

.carousel-inner img {
    border: 5px var(--dark-bg) solid;
    border-radius: 0.75rem;

}



/* About  */

#main #about {
    background: url('./public/images/about.svg') no-repeat center center/cover;
    padding-top: 5rem;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
  
}



#main #about h1 {
    color: var(--teal-primary);
    text-shadow: var(--text-light) 3px 3px;
}

#main #about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--text-dark);
    font-weight: 900;
    
}

#main #about .container .about {
    width: 50%;
    height: 100%;
    padding: 1.5rem;       
}


#main #about .container .left video {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    border: 5px var(--teal-primary) solid;
    border-radius: 1rem;
   
}


#main #about .container .right,.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* Brand */


#main #brand {
    background: url('./public/images/brand.svg') no-repeat center center/cover;
    color: var(--text-dark);
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
    margin-top: -40px;
    border-bottom: 10px var(--teal-secondary) solid;
}

#main #brand h1 {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    text-shadow: var(--teal-secondary) 5px 5px;
}

#main #brand .container{
  display: grid;
  padding-top: 5rem;
  /* min-block-size: 50vh; */
  place-content: center;
  gap: 1.5rem;
}


#main #brand .container .scroller__inner {
    background-color: #ccc;
}

#main #brand .container .scroller__inner.second {
    background-color: rgba(0,0,0,0);
}
#main #brand .container .scroller__inner.second .card {
    background-color: rgba(242, 243, 217, 0.75);
}

#main #brand .container img {
    width: 175px;
    object-fit: fill;
    border: #006F68 2px solid;
}

#main #brand .container .card-img {
    width: 5rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: var(--teal-secondary) 3px solid;
}

#main #brand .container .second {
    font-size: small;
    font-weight: bold;
}

/* Footer */

.footer {
    background: linear-gradient(45deg, var(--light-bg),var(--dark-bg),var(--teal-primary),var(--teal-secondary));
    font-size: 0.9rem;
    color: var(--text-light);
}

.footer .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /* justify-content: center; */
}

.footer .social-container {
    height: 3rem;
    border-bottom: var(--teal-secondary) 3px solid;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.footer .social-container i{
    margin: 0 2rem;
}

.footer .social-container i:hover {
    
    opacity: 0.5;    
    transition: all 0.5s ease;
}


.footer .footer-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    justify-content: space-around;    
    overflow: hidden;
    padding: 2rem 1rem;
}




.footer-container .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px var(--teal-secondary) dashed;
    align-items: center ;
    margin-right: 1rem;
    
}


.footer-container .footer-logo {
    background-color: #fff;
    border-radius: 50%;
    border: var(--teal-primary) 3px solid;
}

.footer-container .footer-logo img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: contain;
   
}

.footer-item i {
    padding: 0.75rem;
    text-shadow: var(--dark-bg) 1px 1px;
    font-size: 1rem;

}

